<template>
  <section ref="about" class="l-about">
    <div ref="title" class="l-about__title">
      <h2 class="color-brand">
        {{ $t('aboutme.title') }}
      </h2>
    </div>
    <div ref="description" class="l-about__description">
      <p>
        {{ $t('aboutme.description_1') }}<br>
        {{ $t('aboutme.description_2') }}<br>
        {{ $t('aboutme.description_3') }}<br>
      </p>
    </div>
    <div ref="subtitle" class="l-about__subtitle">
      <h4>{{ $t('aboutme.cta_text') }}</h4>
    </div>
    <div ref="cta" class="l-about__cta">
      <Button href="#contact">
        {{ $t('aboutme.cta_link') }}
      </Button>
    </div>
  </section>
</template>

<script>
import Button from '~/components/Button.vue'

export default {
  components: {
    Button
  },
  data() {
    return {
      init: false
    }
  },
  methods: {
    onAppear() {
      if (!this.init) {
        this.$velocity(this.$refs.title, { opacity: 1 }, {
          duration: 200,
          easing: 'ease-in',
          complete: () => {
            this.$velocity(this.$refs.description, { opacity: 1 }, {
              duration: 200,
              easing: 'ease-in',
              complete: () => {
                this.$velocity(this.$refs.subtitle, { opacity: 1 }, {
                  duration: 200,
                  easing: 'ease-in',
                  complete: () => {
                    this.$velocity(this.$refs.cta, { opacity: 1 }, {
                      duration: 200,
                      easing: 'ease-in'
                    })
                  }
                })
              }
            })
          }
        })

        this.init = true
      }
    }
  }
}
</script>

<style scoped lang="scss">
  @import '~assets/style/globals';

  .l-about {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    @include mq(tablet) {
      padding: 0 25vw 0 5vw;
    }

    @include mq(desktop) {
      padding: 0 50vw 0 10vw;
    }

    &__title,
    &__description,
    &__subtitle,
    &__cta {
      opacity: 0;
    }

    * {
      transition: all 0.5s;
    }
  }
</style>
