<template>
  <div class="l-contact">
    <div class="l-contact__inner">
      <div class="l-contact__title contact--anim">
        <h2 class="color-brand">
          {{ $t('contact.title') }}
        </h2>
        <hr>
        <h4>
          {{ $t('contact.name') }}
        </h4>
        <p>
          {{ $t('contact.email_label') }} <a href="mailto:info@jozsefklemasz.hu">{{ $t('contact.email') }}</a>
        </p>
        <p>
          {{ $t('contact.street') }}<br>
          {{ $t('contact.city') }}<br>
          <span class="text-bold">{{ $t('contact.country') }}</span>
        </p>
        <hr>
        <div class="l-contact__subtitle">
          {{ $t('contact.subtitle') }}
        </div>
      </div>
      <InputField
        name="name"
        class="l-contact--anim"
        type="text"
        autocomplete="off"
        :placeholder="$t('contact.placeholder.name')"
        required
        @hasError="setNameError"
        @inputChange="setName"
      /><br>
      <InputField
        name="email"
        class="l-contact__anim"
        type="email"
        autocomplete="off"
        :placeholder="$t('contact.placeholder.email')"
        required
        @hasError="setEmailError"
        @inputChange="setEmail"
      /><br>
      <InputField
        name="message"
        class="l-contact__anim"
        input-type="textarea"
        autocomplete="off"
        :placeholder="$t('contact.placeholder.message')"
        required
        @hasError="setMessageError"
        @inputChange="setMessage"
      /><br>
      <div v-if="error || success" class="l-contact__feedback" :class="{error: error, success: success}">
        <span v-if="error">{{ error }}</span>
        <span v-if="success">{{ success }}</span>
      </div>
      <button class="l-contact__anim" :disabled="nameError || emailError || messageError" @click="sendMessage">
        {{ $t('contact.send') }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InputField from '~/components/InputField.vue'

export default {
  components: {
    InputField
  },
  data() {
    return {
      name: '',
      email: '',
      message: '',
      init: false,
      nameError: false,
      emailError: false,
      messageError: false,
      error: false,
      success: false
    }
  },
  computed: {
    ...mapGetters([
      'locale'
    ])
  },
  methods: {
    sendMessage() {
      const formData = new FormData()

      formData.append('name', this.name)
      formData.append('email', this.email)
      formData.append('message', this.message)
      formData.append('locale', this.locale)

      this.$axios.post('/mail.php', formData)
        .then(() => {
          this.success = this.$t('contact.submit.success')
        })
        .catch(() => {
          this.error = this.$t('contact.submit.error')
        })
    },
    onAppear() {
      if (!this.init) {
        Array.from(document.querySelectorAll('.l-contact__anim')).forEach((i, key) => {
          this.$velocity(i, { opacity: 1 }, { duration: 500, delay: key * 200, easing: 'easeIn' })
        })
        this.init = true
      }
    },
    setNameError(val) {
      this.nameError = val
    },
    setName(val) {
      this.name = val
    },
    setEmailError(val) {
      this.emailError = val
    },
    setEmail(val) {
      this.email = val
    },
    setMessageError(val) {
      this.messageError = val
    },
    setMessage(val) {
      this.message = val
    }
  }
}
</script>

<style scoped lang="scss">
  @import '~assets/style/globals';
  @import '~assets/style/animation';

  .l-contact__anim {
    opacity: 0;
  }

  .l-contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 2rem 2rem;

    &__inner {
      width: 100%;

      @include mq(tablet) {
        padding: 0 20vw 0 5vw;
      }

      @include mq(desktop) {
        padding: 0 40vw 0 10vw;
      }

      button {
        border: none;
        color: $color-text;
        background: $color-grey-dark;
        font-size: 16px;
        padding: 0.5rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        width: 100%;

        &:disabled {
          cursor: not-allowed !important;
          background: $color-grey-dark !important;
        }

        &:hover {
          cursor: pointer;
          background: $color-grey;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &__feedback {
      &.error {
        color: $color-error;
      }

      &.success {
        color: $color-success;
      }

      margin-bottom: 1rem;
    }

    &__title {
      text-align: left;

      h2 {
        margin: 0;
      }

      hr {
        margin: 1rem 0;
        border: none;
        border-top: $border-width solid $color-text;
        width: 8rem;
      }
    }

    &__subtitle {
      color: $brand-color;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
</style>
