<template>
  <section class="l-hero">
    <div class="l-hero__contents">
      <h2 class="l-hero__contents--item">
        {{ $t('hero.welcome') }}
        <span class="l-hero__contents--name">{{ $t('hero.name') }}</span>
        {{ $t('hero.name_after') }}
      </h2>
      <div class="subtitle l-hero__contents--item">
        {{ $t('hero.subtitle') }}
      </div>
      <Button class="l-hero__contents--item" :href="'#about'">
        {{ $t('hero.more') }} <fa :icon="['fa', 'arrow-down']" />
      </Button>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import Button from '~/components/Button.vue'

export default {
  components: {
    Button
  },
  computed: {
    ...mapGetters({
      'loaded': 'loader/loaded'
    })
  },
  mounted() {
    if (this.loaded) {
      this.appear()
    }
    this.$bus.$on('loader_hidden', () => {
      this.appear()
    })
  },
  methods: {
    appear() {
      Array.from(document.querySelectorAll('.l-hero__contents--item')).forEach((i, key) => {
        this.$velocity(i, { opacity: 1 }, { duration: 500, delay: key * 200, easing: 'easeInCubic' })
      })
    }
  }
}
</script>

<style scoped lang="scss">
  @import '~assets/style/globals';
  @import '~assets/style/animation';

  .l-hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    @include mq(tablet) {
      padding: 0;
    }

    &__contents {
      position: relative;
      z-index: 1;
      text-align: center;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .c-button {
        margin: 1em;
      }

      &--item {
        opacity: 0;
      }

      .subtitle {
        font-size: 19px;

        @include mq(tablet) {
          font-size: 35px;
        }
      }

      &--name {
        color: $brand-color;
      }

      .tshadow {
        text-shadow: 2px 2px 2px $brand-color-secondary;
      }
    }
  }
</style>
