<template>
  <section class="l-works">
    <h2 ref="title" class="color-brand l-works__title">
      {{ $t('works.title') }}
    </h2>
    <p ref="subtitle" class="l-works__subtitle">
      {{ $t('works.subtitle') }}
    </p>
    <div class="l-works__links">
      <ul>
        <li v-for="(work, key) in works" :key="key" class="li-work" @mouseover="activateKeywords(work)" @mouseleave="resetKeywords">
          <a :href="work.url" target="_blank" rel="noopener" :title="work.name">{{ work.name }}</a>
        </li>
      </ul>
    </div>
    <div class="l-works__keywords">
      <hr ref="hr">
      <ul>
        <li v-for="(keyword, key) in keywords" :key="key" class="li-keyword" :class="{ active: keyword.active }">
          #{{ keyword.name }}
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
import Keyword from '~/model/Keyword.js'
import Work from '~/model/Work.js'

export default {
  data() {
    return {
      keywords: [
        new Keyword('ecommerce'),
        new Keyword('portfolio'),
        new Keyword('frontend'),
        new Keyword('fullstack'),
        new Keyword('design'),
        new Keyword('opencart'),
        new Keyword('vuejs'),
        new Keyword('mvc'),
        new Keyword('localization'),
        new Keyword('hosting'),
        new Keyword('social')
      ],
      works: [
        new Work('plussallatbolt.hu', 'https://plussallatbolt.hu', ['ecommerce', 'fullstack', 'frontend', 'opencart']),
        new Work('revse.hu', 'https://revse.hu', ['portfolio', 'frontend', 'design', 'mvc', 'hosting']),
        new Work('pir2.eu', 'https://pir2.eu', ['portfolio', 'frontend', 'design', 'localization', 'hosting']),
        new Work('bepisiles.hu', 'https://bepisiles.hu', ['ecommerce', 'portfolio', 'fullstack', 'design', 'vuejs', 'opencart']),
        new Work('vargafuvarozasikft.hu', 'www.vargafuvarozasikft.hu', ['hosting']),
        new Work('aikidojo.hu', 'https://aikidojo.hu/hu', ['portfolio', 'social', 'frontend']),
        new Work('kreszpark.hu', 'https://kreszpark.hu/hu', ['portfolio', 'fullstack', 'frontend', 'hosting']),
        new Work('gumimatracok.hu', 'https://gumimatracok.hu/', ['ecommerce', 'fullstack', 'opencart', 'design'])
      ]
    }
  },
  methods: {
    onAppear() {
      const speed = 50
      this.$velocity(this.$refs.title, { opacity: 1 }, {
        duration: speed,
        complete: () => {
          this.$velocity(this.$refs.subtitle, { opacity: 1 }, {
            duration: speed,
            complete: () => {
              const works = Array.from(document.querySelectorAll('.li-work'))

              works.forEach((i, k) => {
                this.$velocity(i, { opacity: 1 }, { duration: speed, delay: speed * k })
              })

              this.$velocity(this.$refs.hr, { opacity: 1 }, { duration: speed, delay: works.length * speed })

              Array.from(document.querySelectorAll('.li-keyword')).forEach((i, k) => {
                this.$velocity(i, { opacity: 1 }, { duration: speed, delay: (works.length + 1) * speed + speed * k })
              })
            }
          })
        }
      })
    },
    resetKeywords() {
      this.keywords.forEach((keyword) => {
        keyword.active = false
      })
    },
    activateKeywords(work) {
      work.tags.forEach((t) => {
        this.keywords.find((e) => { return e.name === t }).active = true
      })
    }
  }
}
</script>

<style scoped lang="scss">
  @import '~assets/style/globals';

  .l-works {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    &__title,
    &__subtitle {
      opacity: 0;
    }

    @include mq(tablet) {
      padding: 0 5vw 0 25vw;
    }

    @include mq(desktop) {
      padding: 0 10vw 0 50vw;
    }

    hr {
      margin: 1rem 0;
      opacity: 0;
    }

    &__keywords {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          font-size: 16px;
          color: $color-grey;
          margin-right: 1rem;
          transition: color 0.2s ease-in;
          opacity: 0;

          &.active {
            color: $color-text;
          }
        }
      }
    }

    &__links {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          margin-right: 1rem;
          opacity: 0;
        }
      }
    }
  }
</style>
