<template>
  <div class="c-button">
    <a :href="href">
      <slot />
    </a>
  </div>
</template>

<script>
export default {
  name: 'Button',
  props: {
    href: {
      type: String,
      default: '#',
      required: false
    }
  }
}
</script>

<style scoped lang="scss">
  @import '~assets/style/globals';

  .c-button {
    display: inline-block;

    a {
      transition: background 0.2s;
      font-weight: bold;
      border: $border-width solid $brand-color;
      display: inline-block;
      padding: 1em;

      &:hover {
        background: $brand-color;
        color: $brand-color-secondary;
      }
    }
  }
</style>
