<template>
  <div>
    <component
      :is="inputType"
      :id="id"
      v-model="input"
      v-bind="$attrs"
      :class="{error: hasError}"
      @blur="visited = true"
    >
      <slot />
    </component>
    <label :for="id" />
    <span v-if="hasError" class="input-error">{{ $t('input.error.' + $attrs.name) }}</span>
  </div>
</template>

<script>
export default {
  name: 'InputField',
  props: {
    inputType: {
      type: String,
      required: false,
      default: 'input'
    },
    min: {
      type: Number,
      required: false,
      default: 1
    },
    max: {
      type: Number,
      required: false,
      default: 520
    }
  },
  data() {
    return {
      id: null,
      input: '',
      text: '',
      visited: false,
      reg: /(.+)@(.+){2,}\.(.+){2,}/
    }
  },
  computed: {
    hasError() {
      if (!this.visited) {
        return false
      }

      if (this.inputType === 'input') {
        const hasError = this.input.length < this.min || this.input.length > this.max
        this.$emit('hasError', hasError)

        if (this.$attrs.type === 'email') {
          return hasError || !this.reg.test(this.input)
        }

        return hasError
      } else if (this.inputType === 'textarea') {
        const hasError = this.text.length < this.min || this.text.length > this.max
        this.$emit('hasError', hasError)
        return hasError
      }

      return false
    }
  },
  watch: {
    input: function (newVal) {
      this.$emit('inputChange', newVal)
    },
    text: function (newVal) {
      this.$emit('inputChange', newVal)
    }
  },
  mounted() {
    this.id = this._uid
  }
}
</script>

<style scoped lang="scss">
  @import '~assets/style/globals';
  @import '~assets/style/animation';

  input,
  textarea {
    padding: 0.5rem;
    width: 100%;
    border: none;
    background: $color-grey-dark;
    color: $color-text;
    display: block;
    resize: none;

    &.error {
      border: $border-width solid $color-error;
      background: $background-error;
      color: $color-error;
    }

    &::selection {
      background: #aaa;
    }

    &:focus {
      outline: none;

      & + label {
        width: 100%;
      }
    }
  }
  label {
    border-top: $border-double-width solid $brand-color-light;
    display: block;
    width: 0;
    transition: width $time-normal ease;
  }
  .input-error {
    color: $color-error;
    font-weight: bold;
  }
</style>
