<template>
  <nuxt-link :to="switchLocalePath(lang)" class="c-language-selector">
    {{ lang }}
  </nuxt-link>
</template>

<script>
export default {
  name: 'LanguageSelector',
  props: {
    lang: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
@import '~assets/style/globals';

.c-language-selector {
  font-size: 18px !important;
  line-height: 20px !important;
  height: auto !important;
  width: auto !important;
  margin-right: 15px;

  &.nuxt-link-exact-active {
    color: $brand-color !important;
  }

  @include mq(desktop) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
</style>
