<template>
  <nav id="nav" ref="navbar" class="c-nav" :class="{closed: closed}">
    <a class="c-nav__hamburger c-nav__item" title="" @click="toggleNav()"><fa :icon="['fa', 'bars']" /></a>
    <a href="#hero" class="c-nav__item" :class="{active: isActive(0)}" title="Home" @click="navigateTo(0)">
      <fa :icon="['fa', 'home']" />
    </a>
    <a href="#about" class="c-nav__item" :class="{active: isActive(1)}" title="About" @click="navigateTo(1)">
      <fa :icon="['fa', 'user-circle']" />
    </a>
    <a href="#works" class="c-nav__item" :class="{active: isActive(2)}" title="Works" @click="navigateTo(2)">
      <fa :icon="['fa', 'briefcase']" />
    </a>
    <a href="#contact" class="c-nav__item" :class="{active: isActive(3)}" title="Contact" @click="navigateTo(3)">
      <fa :icon="['fa', 'at']" />
    </a>
    <div class="c-nav__languages">
      <language-selector lang="en" class="c-nav__item" />
      <language-selector lang="hu" class="c-nav__item" />
      <language-selector lang="de" class="c-nav__item" />
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import LanguageSelector from '~/components/LanguageSelector.vue'

export default {
  name: 'Nav',
  components: {
    LanguageSelector
  },
  props: {
    current: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      closed: true
    }
  },
  computed: {
    ...mapGetters({
      'loaded': 'loader/loaded'
    })
  },
  mounted() {
    if (this.$store.state.loaded) {
      this.appear()
    }
    this.$bus.$on('loader_hidden', () => {
      this.appear()
    })
  },
  methods: {
    isActive(id) {
      return id === this.current
    },
    navigateTo(id) {
      this.$emit('navigate', id)
    },
    toggleNav() {
      this.closed = !this.closed
    },
    appear() {
      const navItems = Array.from(document.querySelectorAll('.c-nav__item'))
      this.$velocity(this.$refs.navbar, { opacity: 1 }, {
        duration: 200,
        delay: 500,
        easing: 'easeInCubic',
        complete: () => {
          navItems.forEach((i, key) => {
            this.$velocity(i, { opacity: 1, 'margin-left': '0%' }, { duration: 200, delay: key * 100, easing: 'easeInCubic' })
          })
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import '~assets/style/globals';

$nav-block-size: 50px;

.c-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  right: 0;
  background: $color-grey-dark;
  width: 100%;
  transition: width 0.3s ease;
  opacity: 0;

  @include mq(desktop) {
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    width: $nav-block-size;
  }

  &__item {
    width: $nav-block-size;
    height: $nav-block-size;
    line-height: $nav-block-size;
    text-align: center;
    opacity: 0;
    transition: background 0.5s, color 0.5s;
    margin-left: -200%;
    color: $color-grey;
    font-size: 18pt;
    cursor: pointer;

    &:hover, &.active {
      color: $brand-color;
    }
  }

  &__hamburger {
    display: block !important;
    color: $brand-color;

    @include mq(desktop) {
      display: none !important;
    }
  }

  &__item+&__item {
    border-top: 0;
  }

  &.closed {
    width: $nav-block-size;

    .c-nav__item {
      display: none;

      @include mq(desktop) {
        display: block;
      }
    }
  }

  &__languages {
    text-align: right;
    flex: 1;

    @include mq(desktop) {
      flex: 0;
      margin-top: 50px;
    }
  }
}
</style>
