<template>
  <div class="c-preloader">
    <div v-if="!loaderHidden" ref="loaderInner" class="c-preloader__inner">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube" />
        <div class="sk-cube2 sk-cube" />
        <div class="sk-cube4 sk-cube" />
        <div class="sk-cube3 sk-cube" />
      </div>
    </div>
    <slot />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'PreLoader',
  props: {
    wait: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      loaderHidden: false
    }
  },
  created() {
    this.setLoaded(false)
    if (this.wait) {
      this.$bus.$on('p5_loaded', () => {
        this.hideLoader()
      })
    }
  },
  mounted() {
    if (!this.wait) {
      this.hideLoader()
    }
  },
  methods: {
    ...mapActions({
      'setLoaded': 'loader/setLoaded'
    }),
    hideLoader() {
      this.$velocity(this.$refs.loaderInner, { opacity: 0 }, {
        duration: 500,
        easing: 'easeOut',
        complete: () => {
          this.setLoaded(true)
          this.$bus.$emit('loader_hidden', true)
          this.loaderHidden = true
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import '~assets/style/colors';
@import '~assets/style/animation';

.c-preloader {
  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-background;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    &--triangle {
      width: 10vw;
      height: 10vw;
      background: #fff;
      position: absolute;
      top: calc(50vh - 5vw);
      left: calc(50vw - 5vw);
    }
  }

  .sk-folding-cube {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    position: relative;
    transform: rotateZ(45deg);

    .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      transform: scale(1.1);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }
    }

    .sk-cube2 {
      transform: scale(1.1) rotateZ(90deg);

      &:before {
        animation-delay: 0.3s;
      }
    }

    .sk-cube3 {
      transform: scale(1.1) rotateZ(180deg);

      &:before {
        animation-delay: 0.6s;
      }
    }

    .sk-cube4 {
      transform: scale(1.1) rotateZ(270deg);

      &:before {
        animation-delay: 0.9s;
      }
    }
  }
}
</style>
