$color-text: #f0f0f0;
$brand-color: #ffdd62;
$brand-color-light: #ffeea0;
$brand-color-secondary: #1A1A1A;

$color-grey-dark: #303030;
$color-grey-dark-2: #141414;
$color-grey: #686868;
$color-background: #111;

$color-success: #4aa433;

$color-error: #ff5965;
$background-error: #5c2327;

$section-bg-2: #262626;
$section-bg-3: #333333;
$section-bg-4: #404040;
