@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap&subset=latin-ext');

@import 'variables';

body,
input,
textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  &:after {
    content: ' ';
    display: block;
    width: 100%;
    height: $border-width;
    background: #f00;
  }
}

p {
  font-size: 10px;

  &.small {
    font-size: 8px;
  }

  @include mq(mobile) {
    font-size: 14px;

    &.small {
      font-size: 12px;
    }
  }

  @include mq(tablet) {
    font-size: 16px;

    &.small {
      font-size: 14px;
    }
  }

  @include mq(desktop) {
    font-size: 18px;

    &.small {
      font-size: 16px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;

  @include mq(mobile) {
    font-size: 32px;
    margin-bottom: 15px;
  }

  @include mq(tablet) {
    font-size: 44px;
    margin-bottom: 17px;
  }

  @include mq(desktop) {
    font-size: 56px;
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 22px;
  margin-bottom: 7px;

  @include mq(mobile) {
    font-size: 30px;
    margin-bottom: 10px;
  }

  @include mq(tablet) {
    font-size: 40px;
    margin-bottom: 12px;
  }

  @include mq(desktop) {
    font-size: 48px;
    margin-bottom: 15px;
  }
}

h4 {
  font-size: 16px;
  margin-bottom: 5px;

  @include mq(mobile) {
    font-size: 22px;
    margin-bottom: 7px;
  }

  @include mq(tablet) {
    font-size: 26px;
    margin-bottom: 8px;
  }

  @include mq(tablet) {
    font-size: 32px;
    margin-bottom: 10px;
  }
}

p {
  font-size: 12px;
  margin-bottom: 5px;

  @include mq(mobile) {
    font-size: 16px;
    margin-bottom: 7px;
  }

  @include mq(tablet) {
    font-size: 21px;
    margin-bottom: 8px;
  }

  @include mq(desktop) {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

p.break-lines {
  white-space: pre-line;
}

a {
  color: $brand-color;
  text-decoration: none;
}

.text-bold{
  font-weight: bold;
}

.color-brand {
  color: $brand-color;
}
