$border-width: 1px;
$border-double-width: 2px;

$desktop: 1024px;

$breakpoints: (
  'xl': 1650px,
  'desktop': 1024px,
  'tablet': 768px,
  'mobile': 320px
) !default;


@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


.op-0 {
  opacity: 0;
}
