<template>
  <div>
    <pre-loader :wait="isHomePage">
      <nuxt />
    </pre-loader>
  </div>
</template>

<script>
import PreLoader from '~/components/PreLoader.vue'

export default {
  components: {
    PreLoader
  },
  computed: {
    isHomePage() {
      return this.$route.path === '/'
    }
  },
  mounted() {
  }
}
</script>
