<template>
  <div class="container">
    <h1 v-if="error.statusCode === 404">
      {{ $t('error.404') }}
    </h1>
    <nuxt-link to="/">
      {{ $t('error.backToHome') }}
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    h1 {
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  }
</style>
