<template>
  <div>
    <nav-panel :current="current" @navigate="navigateTo" />
    <div id="canvas-container" ref="canvas" />
    <section ref="container" class="container">
      <section class="hero">
        <hero id="hero" ref="hero" class="main-section" />
      </section>
      <section class="about">
        <about id="about" ref="about" class="main-section" />
      </section>
      <section class="works">
        <works id="works" ref="works" class="main-section" />
      </section>
      <section class="contact">
        <contact id="contact" ref="contact" class="main-section" />
      </section>
    </section>
    <no-ssr>
      <cookie-law theme="custom">
        <div slot-scope="props" class="Cookie__inner">
          <div class="Cookie__content">
            {{ $t('consent.message') }}
          </div>
          <button class="skew Cookie__button" @click="props.accept">
            <span>{{ $t('consent.accept') }}</span>
          </button>
        </div>
      </cookie-law>
    </no-ssr>
  </div>
</template>

<script>
import Hero from '~/components/sections/Hero.vue'
import About from '~/components/sections/About.vue'
import Works from '~/components/sections/Works.vue'
import Contact from '~/components/sections/Contact.vue'
import NavPanel from '~/components/NavPanel.vue'
import CookieLaw from 'vue-cookie-law'

export default {
  components: {
    CookieLaw,
    Hero,
    About,
    Works,
    Contact,
    NavPanel
  },
  head() {
    return {
      title: this.$t('title'),
      meta: [
        { hid: 'description', name: 'description', content: this.$t('meta_description') },
        { property: 'og:title', content: this.$t('title') },
        { property: 'og:url', content: 'https://jozsefklemasz.hu/' },
        { property: 'og:type', content: 'website' },
        { property: 'og:description', content: this.$t('meta_description') },
        { property: 'og:locale', content: 'en_US' },
        { property: 'og:locale:alternate ', content: 'hu_HU' },
        { property: 'og:locale:alternate ', content: 'de_DE' },
        { property: 'og:image', content: 'https://jozsefklemasz.hu/image/og_image.jpg' },
        { property: 'fb:app_id', content: '335504167145465' }
      ]
    }
  },
  data() {
    return {
      container: null,
      duration: 800,
      current: 0,
      elements: null,
      finished: true
    }
  },
  computed: {
    hasNext: function () {
      return this.elements.hasOwnProperty(this.current + 1)
    },
    hasPrev: function () {
      return this.elements.hasOwnProperty(this.current - 1)
    },
    hash: function () {
      return this.$route.hash
    }
  },
  watch: {
    current() {
      const eventHero = new Event('show-hero')
      const eventAbout = new Event('show-about')
      const eventWorks = new Event('show-works')
      const eventContact = new Event('show-contact')

      switch (this.current) {
        case 0:
          window.dispatchEvent(eventHero)
          break
        case 1:
          window.dispatchEvent(eventAbout)
          break
        case 2:
          window.dispatchEvent(eventWorks)
          break
        case 3:
          window.dispatchEvent(eventContact)
          break
      }
    },
    hash() {
      this.handleHash()
    }
  },
  mounted() {
    this.container = this.$refs.container
    this.elements = Array.from(document.querySelectorAll('.main-section'))
    this.onScroll((dir) => {
      this.navigate(dir)
    })

    this.$p5.init(this.$refs.canvas, true)
    this.$bus.$emit('p5_loaded', true)

    this.handleHash()
  },
  methods: {
    onScroll(func) {
      // chrome scroll event
      window.addEventListener('wheel', (ev) => {
        func(ev.deltaY > 0)
      })

      // firefox scroll event
      window.addEventListener('DOMMouseScroll', (ev) => {
        func(ev.deltaY > 0)
      }, false)

      // mobile touch drag
      let touchStart
      window.ontouchstart = (ev) => {
        touchStart = ev.touches[0].clientY
      }
      window.ontouchmove = (ev) => {
        func(touchStart > ev.touches[0].clientY)
      }

      // keyboard controls
      document.onkeydown = (ev) => {
        if (ev.code === 'ArrowDown' || ev.code === 'Space') {
          func(true)
        } else if (ev.code === 'ArrowUp') {
          func(false)
        }
      }
    },
    handleHash() {
      switch (this.hash) {
        case '#about':
          this.navigateTo(1)
          break
        case '#works':
          this.navigateTo(2)
          break
        case '#contact':
          this.navigateTo(3)
          break
        default:
          this.resetNav(0)
          break
      }
    },
    navigate(dir) {
      if (this.finished) {
        if ((dir && this.hasNext) || (!dir && this.hasPrev)) {
          this.navigateTo(dir ? this.current + 1 : this.current - 1)
        }
      }
    },
    resetNav() {
      this.current = 0
      this.finished = true
      this.$velocity(this.container, 'scroll', { offset: 0, duration: 0 })
    },
    navigateTo(id) {
      this.current = id
      this.finished = false
      this.elements.forEach((e, key) => {
        if (this.current === key) {
          this.$velocity(this.container, 'scroll', {
            offset: e.offsetHeight * this.current,
            duration: this.duration,
            easing: 'easeInCubic',
            complete: () => {
              this.finished = true

              switch (this.current) {
                case 1:
                  this.$refs.about.onAppear()
                  break
                case 2:
                  this.$refs.works.onAppear()
                  break
                case 3:
                  this.$refs.contact.onAppear()
                  break
              }
            }
          })
        }
      })
    }
  }
}
</script>

<style lang="scss">
  @import '~assets/style/globals';

  *::selection {
    background: $brand-color-secondary;
  }

  .hero,
  .about,
  .works,
  .contact {
    height:100vh;
    width: 100%;
    overflow: hidden;
    perspective: 1800px;
  }

  .main-section {
    transform-origin: center bottom;
    position: relative;
  }

  body {
    color: $color-text;
    background: $color-background;
    overflow: hidden;
    height: 100vh;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  #canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: opacity 0.3s ease-in;
    opacity: 0.45;

    canvas {
      width: 100%;
      height: 100vh;
    }
  }

  .Cookie--custom {
    padding: 1rem;
    background: $color-grey;

    .Cookie__inner {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    .Cookie__content {
      color: $color-text;
    }

    .Cookie__button {
      background: transparent;
      color: $brand-color;
      padding: 0.5rem;
      margin: 0;
      border: $border-width solid $brand-color;
      transition: background 0.2s, color 0.2s ease-in;

      &:hover{
        color: $brand-color-secondary;
        background: $brand-color;
      }
    }
  }
</style>
